<h1 class="mat-h1">Weather App</h1>
<p class="mat-body">Select a city to check the weather</p>

<form [formGroup]="weatherSearchForm">
  <mat-form-field>
    <mat-label>Select a city</mat-label>
    <mat-select (change)="onCityChange()" formControlName="city">
      <mat-option *ngFor="let city of cities" [value]="city">
        {{city.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<weather-card [weatherData]="weatherData" *ngIf="!isLoading && weatherData.temp"></weather-card>
